# requirements.txt

# Telegram Bot
python-telegram-bot==20.8

# Google Drive API
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

# OpenAI SDK (новая версия)
openai>=1.1.0

# Web-сервер
fastapi
uvicorn[standard]
